:root {
    --text-info: rgba(91, 91, 217, 100);
    --bg-info: rgba(176, 176, 231, 0.68);
    --text-success: rgba(51,91, 51,100);
    --bg-success: rgba(152, 211, 152, 0.68);
    --text-warning: rgba(154, 154, 14, 100);
    --bg-warning: rgba(239, 234, 143, 0.68);
    --text-error: rgba(148, 90, 101, 100);
    --bg-error: rgba(229, 183, 190, 0.68);
}

* {
    box-sizing: border-box;
    margin: unset;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


.message {
    max-width: 100%;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.message-info {
    /*color: #6e6ee1;*/
    /*background-color: #b0b0e7;*/
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    /*color: #335b33;*/
    /*background-color: #335b33;*/
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    /*color: #9a9a0e;*/
    /*background-color: #e8e8b2;*/
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    /*color: #ea7e94;*/
    /*background-color: #e5b7be;*/
    color: var(--text-error);
    background-color: var(--bg-error);
}