.navbar:first-of-type {
    width: 100%;
}
.row.menu-group {
    max-width: 100%;
}
.container-fluid.sh-hero {
    min-height: 30vh;
    background-image: url("../img/pizza.jpg");
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}
a.nav-link.signup {
    margin-left: .25em;
    color: #757779;
}
.nav-tabs span {
    margin-right: .25em;
}

.card-body {
    background-color: #0D6EFD;
    padding: .5em;
}
.card-footer svg {
    margin-left: .5em;
}